body {
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.box {
    border: 2px solid black;
    height: 580px;
    width: 600px;
    display: block;
    position: relative;
}
.content{
    text-align: center;
}
.title{
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin: 20px auto;
    position: relative;
}

.title::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: 0;
    background: #000;
    height: 2px;
    background: linear-gradient(to right, transparent, #8e4848, transparent);
}
form{
    display: flex;
    flex-direction: column;
}

/* form label{
    display: grid;
    grid-template-columns: 200px 10px 1fr;
} */
.box1 {
    height: 210px;
    width: 90%;
    border: 2px solid black;
    margin: 25px;
}
h3{
    text-align: center;
    display: table;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    margin: 10px auto;
}

.right {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.left {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.down {
    padding: 10px;
}

.box2{
    height: 160px;
    width: 90%;
    border: 2px solid black;
    margin: 25px;
}
.left2{
    display: inline;
    margin: 10px;
}
.right2{
    display: inline;
    margin: 100px;
}
h4{
    margin: 10px;
    padding: 10px;
}
.btn{
    height: 30px;
    width: 70px;
    padding: 2px;
    margin: 5px;
    border-radius: 3px;
    font-size: 16px;
    bottom: 10px;
    right: 28px;
    position: absolute;
}
.btn:hover{
    background-color: rgb(175, 159, 159);
    color: rgb(88, 88, 176);
}
footer a{
    font-size: 18px;
    position: absolute;
    left: 30px;
    bottom: 20px;
}