* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
   
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 100px;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
}

.content h1:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.content a {
    text-decoration: none;
    border: 2px solid white;
    padding: 15px 50px;
    transition: 0.5s;
    font-size: 30px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.content a:hover {
    background-color: white;
    color: black;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}