body{
    background-color: black;
}

.content{
    margin: 2px;
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    position: relative;
}


.box{
    height: 390px;
    width: 350px;
    border: 2px solid black;
    overflow: hidden;
   background-color: cornflowerblue;
   padding: 20px;
   z-index: 2;
   position: relative;
}

.box:before{
    content: "";
    transition: 2s;
    background-color: rgb(49, 138, 138);
    position: absolute;
    left: 0;
    bottom: calc(-100% + 10px);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.box:hover:before{
    bottom: 0;
    left: 0;
}

h1{
    font-size: 40px;
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}
button{
    background-color: chocolate;
    color: white;
    text-decoration: none;
    display: block;
    margin: auto;
}

.box:hover{
    color: #fff;
}