form{
    width: 300px;
    height: 350px;
    border: 2px solid black;
    margin: 100px auto;
}
body{
    background-color: rgb(125, 210, 210);
}

h1{
    text-align: center;
}

input{
    padding: 10px;
    margin: 8px;
    width: 80%;
}

.btn{
    cursor: pointer;
    width: 30%;
    height: 30px;
    font-size: 15px;
    background-color: black;
    color: #fff;
   margin: 3px 100px;
}
.error{
    color: red;
    font-size: 12px;
}