* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "The Magic Castle";
    src: url(the_magic_castle/The\ Magic\ Castle.ttf);
}
.box {
    display: block;
    height: 100vh;
    width: 100%;
}

.box1 {
    position: relative;
    display: block;
    height: 50vh;
}
.image {
    height: 50vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.box1 h1 {
    position: absolute;
    left: 20vh;
    top: 20px;
    font-size: 40px;
    color: #261f1f;
    font-family: "The Magic Castle";
    z-index: 2;
}
h1 span {
    display: block;
}
h2 {
    position: absolute;
    right: 20vh;
    top: 30px;
    font-size: 30px;
    color: #131313;
    z-index: 2;
}

.box2 {
    /* border: 1px solid black; */
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    background: linear-gradient(rgb(76, 83, 86), rgb(188, 188, 208), rgb(94, 94, 102));
}
.heading3 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    color: #fff;
    font-size: 15px;
    padding: 2px 15px;
}
.benefits {
    font-size: 17px;
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 13px;
    padding: 5px 0;
    background-color: rgb(229, 14, 57);
    color: #fff;
}
.images {
    display: inline;
    position: relative;
    bottom: 0;
}
.images:hover .benefits {
    transform: translateY(2px);
    font-size: large;
}
.img1 {
    display: inline;
    width: 100px;
    height: 100px;
}
.img2 {
    display: inline;
    height: 100px;
    width: 100px;
}
.img3 {
    display: inline;
    width: 100px;
    height: 100px;
}

.box3 {
    height: 26vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(54, 48, 48), darkgrey, rgb(45, 42, 42));
    position: relative;
}
.heading4 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    color: #fff;
    font-size: 15px;
    padding: 3px;
}
form {
    border: 2px solid black;
    height: 90px;
    width: 300px;
    position: absolute;
}
.details {
    display: block;
    padding: 10px;
    position: relative;
    text-align: center;
}
.name {
    margin: 2px;
}
.btnn {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    border: 1px solid black;
    transform: translateX(-50%);
}
.btnn:hover {
    background-color: black;
    color: #fff;
}
a {
    position: absolute;
    bottom: 60px;
    right: 40px;
}
a:hover {
    font-size: large;
}



